main { 
    box-sizing: border-box;
    background-color: #111111;
    text-align: center;
    padding: 3%;
    /* Redondea un poco las puntas del borde del main */
}

h1 {
    font-size: 2.5em;
    color: #00d8ff;
    margin-bottom: 30px;
}

div {
    margin: 5%;
    text-align: left;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
    max-width: 90vw;
    margin: auto;
}

.img-galeria {
    margin-bottom: 5%;
    border: 2px solid rgba(255, 255, 255, 0.233);
    width: 250px;
    height: 240px;
    object-fit: cover;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-galeria:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 216, 255, 0.4);
    border-color: blueviolet;
}
