/* Elimina márgenes y paddings por defecto de todos los elementos,
y hace que el ancho y alto incluyan el borde y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- BODY ---------- */

/* Establece la fuente principal, el color de fondo de toda la página
y el color del texto */
body {
    font-family: Arial, sans-serif;       /* Fuente */
    background-color: #000000;            /* negro */
}
/* ---------- HEADER Y NAV ---------- */

/* Fondo oscuro para el encabezado */
header {
    background-color: #000000;               /* negro */
    padding: 30px 0px;                      /* Espacio arriba y abajo del navbar */

}

/* Lista de navegación horizontal */
nav ul {
    display: flex;                        /* Hace que los <li> estén en fila */
    justify-content: center;             /* Centra los <li> horizontalmente */
    list-style: none;                    /* Quita los puntitos de la lista */
}

/* Espacio entre los ítems del menú */
nav ul li {
    margin: 0 15px;                       /* Separación a los costados */
}

/* Estilo de los enlaces del menú */
nav ul li a {
    text-decoration: none;               /* Quita el subrayado */
    color: white;                        /* Texto blanco */
    font-weight: bold;                   /* Letra en negrita */
    transition: color 0.3s;              /* Transición suave al cambiar color */
}

/* Cambio de color al pasar el mouse */
nav ul li a:hover {
    color: #00d8ff;                      /* Azul celeste al pasar el mouse */
}